
<form action="#" method="post">
  <h2>Nuevo Usuario</h2>
		<p>
			<label for="nombre" class="floatLabel">Nombre</label>
			<input id="nombre" name="nombre" type="text">
		</p>
		<p>
			<label for="aplli" class="floatLabel">Apellido</label>
			<input id="aplli" name="aplli" type="text">
		</p>
		<p>
			<label for="email" class="floatLabel">Email</label>
			<input id="email" name="email" type="text">
		</p>
		<p>
			<label for="password" class="floatLabel">Password</label>
			<input id="password" name="password" type="password">

		</p>
		<p>
			<input type="button" (click)="getEstudiantes()" value="Crear usuario" id="submit">
		</p>
	</form>

	<table class="table table-striped">
		<thead>
		  <tr>
			<th>#</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Username</th>
		  </tr>
		</thead>
		<tbody>
		  <tr>
			<th scope="row">1</th>
			<td></td>
			<td></td>
			<td></td>
		  </tr>

